.ace_gutter-cell {
  color: #9c89b8;
}

.ace_gutter-layer {
  background-color: #fff;
}

.ace_active-line {
  background: #ebeeff !important;
}

.ace_gutter-active-line {
  background-color: #ebeeff !important;
  color: #392f5a !important;
}
