@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-fm-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-layout-root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.app-nav {
  width: 100%;
}

.btn {
  padding: 7px 22px;
  border-radius: 2px;
  color: #392f5a;
  font-weight: 700;
}

.btn:disabled {
  color: #b8bedd;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #f0e6ef;
}

.btn-danger {
  color: #f8665a;
  background-color: #fff;
}

.btn-danger:hover {
  color: #f8665a;
  background-color: #fdf8fa;
}

.btn-icon {
  background-color: transparent;
  padding: 0;
}

.btn-group button {
  margin-left: 12px;
}

.form-control {
  border: 2px solid #6e44ff;
  padding: 4px;
}

.form-control-group {
  margin-bottom: 22px;
}

.form-label {
  color: #392f5a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 6px;
  display: inline-block;
}

.form-label-sec {
  color: #b8bedd;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
  display: block;
}

.form-control-note {
  color: #7c5a83;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 6px;
  display: block;
}

.form-label-radio {
  color: #9c89b8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: inline-block;
  padding: 12px;
}

.form-input {
  display: block;
  padding: 10px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #b8bedd;
  background: #fff;
  width: 100%;
}

.form-control-radio {
  margin-right: 12px;
}

.form-input-radio {
}

.form-control-radio-group {
  display: flex;
  margin-bottom: 6px;
}

.form-example-block {
  border-radius: 2px;
  border: 1px solid #efc3e6;
  background: #fff;
  padding: 14px 20px;
}

.form-example-block_title {
  color: #f0a6ca;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}

.form-example-block_item {
  margin-bottom: 12px;
}

.form-example-block_item_title {
  color: #f0a6ca;
  margin-bottom: 2px;
  font-size: 14px;
}

.form-example-block_item_content {
  font-family: var(--font-fm-mono);
  color: #9c89b8;
}
